@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #161616;
  --rt-blue: #9ccee7;
  --rt-pink: #f5aacb;
  --rt-violet: #977fd7;
  --rt-gray: #424c51;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--inter-font);
  --color-rt-blue: var(--rt-blue);
  --color-rt-pink: var(--rt-pink);
  --color-rt-violet: var(--rt-violet);
  --color-rt-gray: var(--rt-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--inter-font), sans-serif;
}
